{% extends 'base.html' %}
{% block content %}
<section id="advertisement">
		{% load static %}
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Տեսականի</h2>
						<div class="panel-group category-products" id="accordian">
							{% for i in category %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="{% url 'product' i.id %}">{{ i.name }}</a></h4>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="shipping text-center"><!--shipping-->
							<p>{{ govazd.name }}</p>
							<img src="{{ govazd.img.url }}" alt="" width="220" />
						</div><!--/shipping-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
                        {% for i in subcategory %}
						<h2 class="title text-center">{{ i.name }}</h2>
						{% for j in i.productr.all %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{{ j.img.url }}" alt="" width="200" height="250" />
										<h2>{{ j.price_now }}դրամ</h2>
										<p>{{ j.name }}</p>
										<a href="{% url 'detail' j.id %}" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Տեսնել ավելին</a>
									</div>
									{% if j.price_now != j.price_old %}
									<img src="{% static 'images/6188700.png' %}"  class="pricing" alt="" width="90"  height="70" />
									{% endif %}
								</div>
								
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><i class="fa fa-plus-date"></i>{{ j.dt }}</li>
										<li><a href="{% url 'users' j.user.id %}"><i></i>{{ j.user }}</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endfor %}

					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
    {% endblock %}
